.DS_Store
~$*
Copy/
Artwork/core-values-[a-h].png
Artwork/core-values-j.png
Artwork/core-values.png
Artwork/founded-in-2026.png
Artwork/founded-in-2026-[abd-g].png
Artwork/Screen_Example.png
Artwork/favicon-candidate.png
